.company-div {
    padding: 0px 10px;
}

.company-button-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.company-button-div button:hover {
    color: #fff;
    background-color: #e67474;
}

.company-title {
    font-weight: 700;
}