.school-div {
    padding: 0px 10px;
}

.school-button-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.school-button-div button:hover {
    color: #fff;
    background-color: #e67474;
}

.school-title {
    font-weight: 700;
}